﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="UserLogin.aspx.cs" Inherits="UserLogin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <title>Online Joining form a Flat Responsive Widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Online Joining form Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- custom css file -->
    <link href="UserLogin/css/font-awesome.min.css" rel="stylesheet" />
    <link href="UserLogin/css/style.css" rel="stylesheet" />

    <!-- //custom css file -->

    <!-- google fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />
    <!-- //google fonts -->

</head>
<body>
    <form id="form1" runat="server">
        <div class="agile-its" style="top:50px">
            <h2>Login Form</h2>
        <%--    <p><i class="fa fa-clock-o" aria-hidden="true"></i>Join in 15 seconds</p>--%>
            <div class="w3layouts">
                <div class="photos-upload-view">
                   
                        <div class="agileinfo">
                        </div>
                        <div class="agileinfo-row">
                            <div class="ferry ferry-from">
                                <label>User Name</label>
                                <%--   <input type="text" name="Name" placeholder="Maxwell Lara" required="">--%>
                                <asp:TextBox ID="txtusername" runat="server" placeholder="User" required=""></asp:TextBox>

                            </div>
                            <div class="ferry ferry-from">
                                <label>Password</label>
                             <%--   <input type="email" name="email" placeholder="Email" required="">--%> 
                                 <asp:TextBox ID="txtpassword" runat="server" placeholder="*****" required="" ></asp:TextBox>
                            </div>
                           <%-- <div class="w3_agileits_main_grid_left_l">
                                <h3>Gender</h3>
                            </div>
                            <div class="w3_agileits_main_grid_left_r">
                                <div class="agileinfo_radio_button">
                                    <label class="radio">
                                        <input type="radio" name="radio" checked=""><span></span><i class="fa fa-male" aria-hidden="true"></i>Male</label>
                                </div>
                                <div class="agileinfo_radio_button">
                                    <label class="radio">
                                        <input type="radio" name="radio"><span></span><i class="fa fa-female" aria-hidden="true"></i>Female</label>
                                </div>
                                <div class="clear"></div>
                            </div>--%>
                       
                               <div class="clear"></div>
                            <div class="clear"></div>
                        </div>
                      
                          
                                     
                          <asp:Button ID="btnsubmit" runat="server" Text="Admin login" style="width: 200px" OnClick="btnsubmit_Click" />
                          <asp:Button ID="btnsubmit2" runat="server" Text="User login" style="width: 200px" OnClick="btnsubmit2_Click" />
                                           <%-- <input type="submit" name="submit" value="Join for free" style="width: 200px">
                                       

                                            <input type="submit" name="submit" value="Join for free" style="width: 200px">--%>
                                       
                                 
                       
                  

                </div>
                <div class="clear"></div>
            </div>
        </div>

    </form>
</body>
</html>
